<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>{{ post.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1>Comentários</h1>
    {% for comentario in comentarios %}
        <div>
            <p>{{ comentario.conteudo }}</p>
            <p><strong>Usuário:</strong> {{ comentario.usuario.username }} | <strong>Data:</strong> {{ comentario.data }}</p>
        </div>
    {% empty %}
        <p>Nenhum comentário cadastrado.</p>
    {% endfor %}
    <a href="{% url 'index' %}">Voltar</a>
</body>
</html>
