<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>{{ post.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1>Comentários</h1>
    {% for comentario in comentarios %}
        <div>
            <p>{{ comentario.conteudo }}</p>
            <p><strong>Usuário:</strong> {{ comentario.usuario.username }} | <strong>Data:</strong> {{ comentario.data }}</p>
            <a href="{% url 'atualizar_comentario' comentario.id %}">Editar</a>
            <form action="{% url 'deletar_comentario' comentario.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Deletar</button>
            </form>
        </div>
    {% empty %}
        <p>Nenhum comentário cadastrado.</p>
    {% endfor %}
    <a href="{% url 'index' %}">Voltar</a>
</body>
</html>
